@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  @keyframes traversed {
    0% {
      transform: scale(0.3);
      background-color: #9333eabf;
      border-radius: 100%;
    }
    50% {
      background-color: #4f46e5bf;
    }
    75% {
      transform: scale(1.2);
      background-color: #3b82f6bf;
    }
    100% {
      transform: scale(1);
      background-color: #22d3ee;
    }
  }

  @keyframes path {
    0% {
      transform: scale(0.3);
      background-color: #e11d48bf;
      border-radius: 100%;
    }
    50% {
      background-color: #ea580cbf;
    }
    75% {
      transform: scale(1.2);
      background-color: #fb923cbf;
    }
    90% {
      transform: scale(0.8);
      background-color: #fde68a;
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes wall {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-traversed {
    animation: traversed 0.5s cubic-bezier(0, 0, 0.2, 1);
  }

  .animate-path {
    animation: path 1.5s cubic-bezier(0, 0, 0.2, 1);
  }

  .animate-wall {
    animation: wall 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}